[2014-10-28 11:45] atte-backman opened #1 "Request: Option to not apply the plugin"
Hi,

it would be very good if there was an option to not apply the plugin to a form. For instance, when using angular-input-modified together with ui-select, the following errors will commence:

[code]

So perhaps an option like `no-input-modified`, like this:

[code]

[2014-10-29 08:48] #1 closed, assigned to nobody

[2014-11-09 13:04] kornalius opened #3 "Crashes if model property does not exists when eval() in reset function"
If for example I have the following model:

  { a: 1, b: 2, c: {} }

if I place an input with ngModel = "c.a.b", it will crash when I try to reset. Could you just either wrap the eval() between try and catch or create the path if it does not exist?

[2014-11-10 12:20] #3 closed, assigned to nobody

[2014-11-11 15:54] prudd opened #4 "Doesn't work with Ui-Bootstrap's Timepicker"
I was testing your module to use in my current project but was getting issues when using the Ui-Bootstrap timepicker. I have a Plunker here demonstrating the issue: http://plnkr.co/edit/yZPDr3RFIOWBvcQZiyGw?p=preview

From what I can tell your code does not create the modified flag and does not store the masterValue.
i.e. myForm.fieldName.masterValue === undefined returns true as does myForm.field

[2014-11-14 15:28] #4 closed, assigned to nobody

[2014-11-14 22:10] prudd opened #5 "Issues with ng-repeat"
Unfortunately I have discovered another issue with this library. If you are using an ng-repeat it does not check if the entire form has been modified correctly.

I have an Plunk here as an example: http://plnkr.co/edit/b7OTGt6NTYIJDJIEHMe0?p=preview

If you change both fields and then change one back to the original value it thinks the entire form has not been modified. This is because you are add

[2014-11-23 14:18] johntom opened #6 "Programmatic reset"
Hi,
Thanks for the repo. In my my use case I must call a function from a save button, ie ng-click="mySave()".which then sends form to my mongodb.If possilbe, how can I reset the field and or form from the function?
TIA
John

[2014-11-25 18:41] #6 closed, assigned to nobody

[2014-11-26 06:12] vaibhavguptaIITD opened #7 "Array and object models are not compared using deep comparison"
Hi,
Thanks for the great plugin.

We have been using this plugin recently and had a scenario where we have an array list model bound to a group of checkboxes. Comparison in `valuesEqual` doesn't do a deep compare:
[https://github.com/betsol/angular-input-modified/blob/master/src/angular-input-modified.js#L301](https://github.com/betsol/angular-input-modified/blob/master/src/angular-input-modified.

[2015-01-03 01:02] cyates81 opened #8 "Doesn't work when bound object member isn't set"
Please see this fork of your plunkr and try changing the about field.  The first letter you type gets set as the masterValue but this is incorrect, it should be null.

http://plnkr.co/edit/04vdPuSYFUE7a7U2ngWE?p=preview

[2015-01-03 16:58] cyates81 commented on #8
Here's a new plunkr showing the difference.  It requires you to call $setPristine on the form after you load.  http://plnkr.co/edit/YVX4DZaQFnTt2zeqHLNi?p=preview

[2015-01-04 10:50] slavafomin commented on #8
Hello @cyates81!

Thank you for a bug-report. I will take a look at it and will get back to you.

[2015-01-04 11:14] slavafomin commented on #8
Yes, your concern was perfectly valid. I've changed master value initialization logic to allow a wider usage scenario. Your Plunk should work fine now.

Thanks again for observation. If you have any further concerns regarding this issue - please let me know.

I will include these changes in the upcoming release.

[2015-01-04 11:56] slavafomin commented on #7
Hello @vaibhavguptaIITD! Is this issue is still important to you? If so, could you provide additional details please? In other case please close it or I will close it later myself. Thank you!

[2015-01-04 13:52] #5 closed

[2015-01-04 13:52] #8 closed

[2015-01-04 13:55] vaibhavguptaIITD commented on #7
Hi,

Sorry for late reply. Let me create a plunker for this.
-- 
Vaibhav Gupta
Sent with Airmail

On 4 January 2015 at 5:26:38 pm, Slava Fomin (notifications@github.com) wrote:

Hello @vaibhavguptaIITD! Is this issue is still important to you? If so, could you provide additional details please? In other case please close it or I will close it later myself. Thank you!

—
Reply to this email directl

[2015-01-04 13:58] slavafomin commented on #8
I've released a new major version. Feel free to try it out and let me know if further support is required. Thanks!

[2015-01-04 14:00] slavafomin commented on #7
I've released a new major version of the module just now. Make sure that you are using the latest version. Thanks!

[2015-01-04 14:00] slavafomin commented on #5
Hello @prudd! I've released a new major version. Feel free to try it out and let me know if further support is required. Thanks!

[2015-01-04 14:04] slavafomin commented on #7
I've updated the [Demo Plunk](http://plnkr.co/edit/g2MDXv81OOBuGo6ORvdt?p=preview). Feel free to fork it.

[2015-01-04 14:18] vaibhavguptaIITD commented on #7
Hi,

Following is the plunker:

http://plnkr.co/edit/qUVZuVqI0o54wkrjAqkz?p=preview

I have a multi select for list of fruits. It was initialised the model user.favoriteFruit with ['Banana']. However, if I select Mango and again select Banana, the model is still shown as modified but it has been restored to its initial value.

-- 
Vaibhav Gupta
Sent with Airmail

On 4 January 2015 at 7:34:34 pm, S

[2015-01-04 15:00] slavafomin commented on #7
Okay, now I understand the problem. Thank you )
Please give me some time, I will get back to you.

[2015-01-04 15:02] vaibhavguptaIITD commented on #7
Hi,

I have managed a workaround by using underscore.js. But I think that would be a dependency on another library.
-- 
Vaibhav Gupta
Sent with Airmail

On 4 January 2015 at 8:30:17 pm, Slava Fomin (notifications@github.com) wrote:

Okay, now I understand the problem. Thank you )
Please give me some time, I will get back to you.

—
Reply to this email directly or view it on GitHub.

[2015-01-04 15:12] slavafomin commented on #7
I've just pushed another commit. Please see [this example](http://betsol.github.io/angular-input-modified/select-multiple/) and tell me if it helps.

[2015-01-04 15:17] vaibhavguptaIITD commented on #7
Hi,

Thank you for the fix. It works perfectly now. 
-- 
Vaibhav Gupta
Sent with Airmail

On 4 January 2015 at 8:42:58 pm, Slava Fomin (notifications@github.com) wrote:

I've just pushed another commit. Please see this example and tell me if it helps.

—
Reply to this email directly or view it on GitHub.

[2015-01-04 20:23] slavafomin commented on #7
I've released a new version of the library that addresses this issue. If you need any further support - please let me know. Thanks.

[2015-01-04 20:23] #7 closed

[2015-01-22 08:42] tarik81 opened #11 "Different behaviour than previous version"
http://plnkr.co/edit/KmVRcuwXYxEzNFseYI6y?p=preview

In latest version form is flagged modified, but if you comment script tag for latest version at the bottom in index.html and uncomment reference to version 1.2.0 then form is not flagged modified.

[2015-01-22 12:02] dhawalbhanushali opened #12 "Not working for dynamically added form fields"
My application has a form where fields(select, input) are dynamically added. In this case "angular-input-modified" does not work as desired. Is there any workaround?

[2015-01-23 04:51] dhawalbhanushali commented on #12
Sorry - It is working. My use case was a bit different.

[2015-01-23 07:07] slavafomin commented on #12
Hello @dhawalbhanushali!

Thank you for your interest in this module.

We have an example where fields are created dynamically by `ngRepeat`, please review it: http://betsol.github.io/angular-input-modified/ng-repeat/.

Do you still have a problem? If so, please create a Plunk to demonstrate the issue. Otherwise - feel free to close this issue.

Thank you!

[2015-01-23 07:56] slavafomin commented on #11
Hello @tarik81!

Thank you for your interest in this module and for your bug-report.

Starting from the version `2.0.0` the module is using a more robust way to initialize he master value of the `ngModel`. It is introduced in [this commit](https://github.com/betsol/angular-input-modified/commit/1317b85bf065171ceaa904bc37c79be692ac9768). You can see that the initialization flag is now used instead

[2015-01-23 07:59] slavafomin commented on #11
Considering your use case I will recommend to fetch the data in the resolve stage of your routing. The best approach is to always initialize the form data synchronously with the controller execution (i.e. without a delay).

If my answer solved your issue - please consider to close it. If you have any other questions - I will be glad to assist you. Cheers!

[2015-01-23 09:00] slavafomin commented on #11
I've updated the Changelog and also added a section to the README on the topic of form initialization, please see it here: https://github.com/betsol/angular-input-modified/blob/master/readme.md#form-initialization.

[2015-01-23 09:20] tarik81 commented on #11
That solves my issue, thank you :)

[2015-01-23 09:20] #11 closed

[2015-01-23 23:46] turbosasa opened #13 "Radio buttons masterValue issue"
There is a plunk
http://plnkr.co/edit/cu7KVY?p=preview

When set radio button masterValue from controller form is marked as modified. With simple text input fields masterValues works fine.

[2015-01-27 04:57] dhawalbhanushali commented on #12
Issue solved. Thank you!

[2015-01-27 04:57] #12 closed

[2015-03-16 06:52] rlamba89 commented on #13
Please add another submit button for radio button.

Check this plunk.
http://plnkr.co/edit/LDZiwy

Hope this helps.

[2015-03-24 21:25] JustMaier opened #14 "How can I get this to work with angular-autofields?"
Hey looks like an interesting library, but I'm struggling to get it to work with the [angular-autofields](https://github.com/JustMaier/angular-autoFields-bootstrap) library. I assume it's because that library dynamically builds and populates all of the input fields, but even after using the delayed initialization I'm struggling to get this to work. Any Ideas?

[2015-03-24 21:33] JustMaier commented on #14
Ok, it looks like it is working and I don't need to delay initialization, however, I did notice a different issue that I will open another ticket for.

[2015-03-24 21:33] #14 closed

[2015-03-24 21:44] JustMaier opened #15 "Modified property doesn't carry over to parent form"
It appears that child forms do not propagate the `modified` value to their parent forms. I modified one of your examples to show you what I mean: [Example](http://codepen.io/JustMaier/pen/KwJvoy?editors=101)

You'll see that while the modified value of `subForm` changes the modified value of `myForm` (subForm's parent) does not.

[2015-03-25 09:24] slavafomin commented on #15
Hello Justin!

Thank you for your interest in this module! I guess your concern is valid. I've never tested this module with nested forms. To be honest, I've never used nested forms in Angular before. I will try to investigate this issue when time permits.

Thank you for PR as well, I will look into your implementation.

[2015-04-23 09:28] atte-backman opened #17 "Angular annotations."
You should annotate everything. Now, when using require.js and optimizing, mangled variables breaks the code regarding this module. I don't want to add angular-input-modified to ngAnnotate grunt task.

[2015-04-23 17:57] slavafomin commented on #17
I'm sorry, it is a mistake. All modules in the `./dist` directory should be annotated. I will fix it as soon as possible. Thank you for noticing it!

[2015-04-23 22:50] slavafomin commented on #17
Hello @atte-backman! I've fixed annotations in the new `2.0.4` patch release. It should work as expected without prior processing. Sorry for inconvenience and thanks again! Cheers!

[2015-04-23 22:50] #17 closed

[2015-04-23 22:51] slavafomin commented on #15
FYI: I'm working on this issue right now. I hope I will make a release soon!

[2015-04-23 22:55] slavafomin commented on #13
Hello @turbosasa, I can understand your confusion! To be honest, `masterValue` is a read-only property, you shouldn't set it directly (it's not watched). In order to change the master value you should set required value to the model and then call `$setPristine` on the input or form element.

I will try to update the docs soon, to make it more clear. Thank you for report.

If you have any further q

[2015-04-23 22:55] #13 closed

[2015-04-27 08:58] vcardins opened #18 "I'd like to be able to exclude certain fields of being checked."

[2015-04-27 08:59] vcardins opened #19 "I'd like to have the modified fields' collection"

[2015-04-27 11:06] slavafomin commented on #19
Just use the property `modifiedModels` of the form controller. It contains the list of all modified model controllers. E.g.: `myForm.modifiedModels[0].$name` will give you the name of the first modified element.

If you have any further questions feel free to ask.

[2015-04-27 11:06] #19 closed

[2015-04-27 11:11] slavafomin commented on #18
Please see this section: https://github.com/betsol/angular-input-modified#inputmodifiedconfigprovider

You can do: `inputModifiedConfigProvider.disableGlobally()` to disable the directive by default.

Then add `bs-modifiable` attribute to all input elements you see necessary.

I think I will need to reflect this in documentation and/or demos.

[2015-04-27 11:15] vcardins commented on #18
It would be good if we had the opposite. A directive to set whether the field should be tracked.

[2015-04-27 11:22] slavafomin commented on #18
Yes, I will try to implement it in the next release. Do you think `bs-modifiable="true/false"` would be a good solution?

[2015-04-27 11:24] vcardins commented on #18
To be honest, intuitively I tried this, then I checked the source code and realized that this directive does nothing :). Also, there is an issue validating/comparing null values. I'll try to reproduce again and send details.

[2015-04-27 11:25] slavafomin commented on #18
Sure, please create a Plunk to demonstrate the issue. I will look into it. You can fork our plunk from the README. Make sure to use the latest master version of the library though.

[2015-04-27 11:26] vcardins commented on #18
Will do later today ... 4:30 in the morning here, going to bed.

[2015-04-27 11:30] vcardins commented on #18
For a quick reference:
http://screencast.com/t/o1XgU1UzsrBs
http://screencast.com/t/DXgIl6kMMt
Will create the Plunkr later.

[2015-04-27 16:50] slavafomin commented on #18
Thank you @vcardins for a bug report. I think I've fixed it in immediate `2.0.5` release: "Fixed an issue where elements were used without a parent form".

[2015-04-27 20:11] slavafomin commented on #15
I'm glad to say that nested forms are now fully supported in minor release `2.1.0`. Feel free to test it and tell me if it works for you. Thank you!

[2015-04-27 20:11] #15 closed

[2015-04-27 20:13] slavafomin commented on #15
BTW, here's the demo: http://betsol.github.io/angular-input-modified/nested-forms/.

[2015-04-27 20:16] JustMaier commented on #15
Seems to be working great. Thanks for the awesome module!

[2015-04-27 20:19] slavafomin commented on #15
I'm glad to help! If you have further questions or ideas — feel free to get in touch with me. Cheers!

[2015-04-28 18:29] vcardins commented on #18
Thanks for the prompt response, excellent. Have you updated bower yet?

[2015-04-28 18:32] slavafomin commented on #18
Yes, you can install latest `2.1.0` version via Bower.

[2015-04-28 18:39] vcardins commented on #18
That's was fast :) Thanks again, I'll keep testing. Have you implemented the directive to exclude fields from being validated?

[2015-04-28 18:41] slavafomin commented on #18
Not yet, but I will try to finish this until the end of the week.

[2015-04-28 18:48] vcardins commented on #18
Thanks !!

[2015-04-30 05:22] vcardins opened #20 "Update .bower.json main reference. It should link to dist, not src"
http://screencast.com/t/dyVw1r1hcHA

[2015-05-02 13:26] slavafomin commented on #20
Fixed in the immediate release `2.1.1`. Sorry for the delay, thanks!

[2015-05-02 13:26] #20 closed

[2015-05-02 14:37] slavafomin commented on #18
Hello! I've implemented the required behavior in version `2.2.0` of the module. Please see the related chapter in the README: https://github.com/betsol/angular-input-modified#excluding-some-fields.

Thank you for a useful feature request!

[2015-05-02 14:37] #18 closed

[2015-05-25 14:25] cdjackson opened #22 "Not working with forms that are hidden (using ng-if)"
Firstly, congratulations - this is a great library - Angular should do this by default!

I have some forms that need to be hidden using ng-if when the template loads. Unfortunately I guess the directive doesn't associate with the form when it gets included into the DOM and I get ```Cannot read property '$setPristine' of undefined``` when the data loads.

From the plunk, click "Show Form" then "Loa

[2015-05-25 14:28] slavafomin commented on #22
Thank you for your report @cdjackson and for the kind words!

I will look into this issue when time permits and will get back to you.

Cheers!

[2015-05-25 14:30] cdjackson commented on #22
Thanks (and thanks also for the very quick response :) )

[2015-05-25 14:42] cdjackson commented on #22
Actually, I'm not sure this is an issue with your library - it might be a scoping issue with ng-if... I'll have a bit more of a look into this...

[2015-05-25 16:24] cdjackson commented on #22
Yep- this is an issue with ng-if creating a child scope - seems there's a lot of issues around the web with this one...

Sorry for the confusion.

[2015-05-25 19:46] slavafomin commented on #22
Thanks for elaborative work )
I'm still going to look into this: the module shouldn't generate error messages in all circumstances, maybe I will need to safeguard some parts of the code.

[2015-05-25 20:22] cdjackson commented on #22
I don’t think the error was in the module - this issue was that the module wasn’t loaded into the scope that the controller was using...

[2015-05-26 16:08] slavafomin commented on #22
Yeah, this is probably is not directly related to the module code. However, if you have a solid use-case that you need to implement using this module — please let me know. I will try to figure something out and craft an example.

Cheers!

[2015-05-26 16:08] #22 closed

[2015-06-25 07:12] mateatslc opened #23 "Put it on npm"
Can you please register this on www.npmjs.org?

[2015-06-25 13:05] slavafomin commented on #23
Hello @mateatslc, this library is not a Node.js package. I'm not sure how you are going to use it in Node environment.

[2015-06-25 13:51] adamkarb opened #24 "Doesn't work on input file?"
I was hoping this would work on a form I have that also has an input=file tag, but it does not seem to track that input.  All other input types are working.  Let me know if I am doing something incorrectly please.
Thanks

[2015-06-25 14:04] mateatslc commented on #23
npm is packed with non-node packages these days.
"The npm Registry is a public collection of packages of open-source code for Node.js, front-end web apps, mobile apps, robots, routers, and countless other needs of the JavaScript community. "(https://www.npmjs.com/about#about-npm)
a node module is just one of the countless things you can publish on npm.
"You can publish any directory that has a pac

[2015-06-25 14:06] slavafomin commented on #24
Hello @adamkarb!

I've not designed this module to work with `input[file]`. Could you describe your use case and explain how you expect it to behave?

Thanks.

[2015-06-25 14:11] adamkarb commented on #24
I was hoping to test against whether or not the form has been changed, and that would prevent the user from leaving the page without saving changes or confirming exit.  It is just a problem since there are input files in the form as well

[2015-06-25 14:22] slavafomin commented on #24
I see. I will try to come up with the solution. Will get back to you soon. Thanks for your report.

[2015-06-25 14:55] slavafomin commented on #23
I've released the NPM package. Thank you for a suggestion. Cheers!

[2015-06-25 14:55] #23 closed

[2015-06-25 15:12] slavafomin commented on #24
I'm sorry Adam, but it looks like `input[file]` input type is not supported by the `ngModel` directive. `input-modified` is based on `model` directive in order to work and will not work without it. Probably we could create a "shim", but I think it will be out of scope for `input-modified`.

There are two options for you here:

1. Implement an `ngModel` directive for `input[file]` yourself. `input-

[2015-06-25 15:51] mateatslc commented on #23
that was fast. ninja-fast. thanks ;)

[2015-06-26 13:30] adamkarb commented on #24
Yea I hacked my way through it.  I'm no javascript expert but it would be cool if angular had some built in way to work around it.

[2015-06-26 15:19] slavafomin commented on #24
Hey! I'm glad to hear that you've managed to overcome this limitation. It would be great if you will be able to share your solution here with others in case someone else in the future will stumble upon this )

[2015-06-26 15:54] adamkarb commented on #24
I watched them via the jQuery .change() method.  If they changed, I set a variable to true that was checked later on before the user changes states.

[2015-07-15 20:09] Mr-Negative opened #25 "ngChange doesn't trigger? / getting data from modal window"
Hi. i need to check if data from modal window form is changed.
if i set it up like this
" ng-model="variation_form.modified"  ng-change="change()" value = "{{ variation_form.modified ? '1' : '0' }}">
then manually changing input value will trigger change function, but changing it via changing  any form element it doesnt trigger. Any help? Could be any workaround . I have function ok() that is clos

[2015-07-15 20:19] slavafomin commented on #25
Hello @Mr-Negative!

Thank you for an interest in this module. However, I'm not sure I understood your use case and the problem. Could you please create a Plunk to demonstrate the issue? You can start with this: http://plnkr.co/edit/g2MDXv81OOBuGo6ORvdt?p=preview

Then I will be glad to dig into it and will try to help you.

Cheers!

[2015-07-15 20:42] Mr-Negative commented on #25
http://plnkr.co/edit/2NxkIWQnqOOyXjMTdVw3?p=preview when you change value on " Form modified:" input it will trigger alert. when input will change by writing in full name input - it won't

[2015-07-15 20:55] slavafomin commented on #25
I see. But, why do you need to bind modification state via `ngModel` and monitor it via `ngChange`? What are you trying to achieve in the end?

[2015-07-15 21:05] Mr-Negative commented on #25
First of all im new in angular so maybe question is stupid;-). i have form that is created in modal, and when i click "ok" button i need have information in parent if it was modified. In Your examples you disable save button, i need it to return this data from model to function "ok". if i would do ng-click="ok({{variation_form.modified}})" it generates Error: [$parse:syntax] Syntax Error: Token 'v

[2015-07-15 21:40] slavafomin commented on #25
It looks like you've found a very weird way to solve this problem. First of all look at some good module for dialogue windows. Like this one: http://likeastore.github.io/ngDialog/#. Your modal form will run inside of an isolated dialogue scope. You could pass any data from this scope to your parent application via promises. Look at this: https://github.com/likeastore/ngDialog#scopeclosethisdialogv

[2015-07-15 21:40] #25 closed

[2015-07-15 21:47] Mr-Negative commented on #25
thx. i'm working on somebody elses code so i can't use this dialog.module but i found workaround and in next projects i will use this module. Thanks for help.

[2015-07-15 21:56] slavafomin commented on #25
@Mr-Negative sure thing. The approach should be the same with any other dialogue module if it supports at least the minimal functionality.

[2015-07-15 22:35] Mr-Negative commented on #25
It was written by this "dev" :-/.  But i have one question "around this". Is it possible to attach maybe some watch or something like this to modified value at all? it would be usefull for an example triggering custom validators for whole form only when modified

[2015-07-16 07:16] vikasmundra opened #26 "regarding the modal"
Hello,
I need to know is there any way to use dirty check on modal instead of the form name element. If yes can you please write me the simple example.
And I have also one custom dropdown in my form.
Which is not there the name attributes on my html how can I track this.
I have past my html in the below mail.
Can you please see the below html and provide me the function in my JavaScript  to check

[2015-07-16 09:05] slavafomin commented on #25
You should be able to add watches standard way, e.g.: `$scope.$watch('formName.modified', onFormModified);` or `$scope.$watch('formName.fieldName.modified', onFieldModified);`.

[2015-07-16 09:19] slavafomin commented on #26
Hello @vikasmundra. Thank you for your interest in the library.

What do you mean by doing "dirty check on modal"? Dirty state of the `ngModel` or `ngForm` can be checked using Angular's `$dirty`/`$pristine` properties, `input-modified` has nothing to do with this.

Every element that you want to "track" using `input-modified` should have a correct `name` property. Otherwise you will not be able t

[2015-07-23 16:38] Mr-Negative commented on #25
Hi i found answer so i put it here so maybe somebody else find this post and find it usefull. $watch doesnt work well with modals  [ui-bootsrap ones] becouse of isolated dialogue scope.  But if you do something like this - https://gist.github.com/rnkoaa/8333940  it would work on this plugin also.

Most important bit is to name it like this "form.userForm"  and
var ModalInstanceCtrl = function ($sc

[2015-08-03 17:55] nvernooy opened #27 "When using select ng-modified isn't set to true until the second click."
I'm not sure if I had a special case, cause I was using ui-select (https://github.com/angular-ui/ui-select) in a bootstrap modal. The model is initially set to undefined and the array using for the options is only loaded when the modal is opened.
On opening the modal the modified value was set to false, which is fine, then when a value is selected in the select, it stays false, only when another v

[2015-08-04 11:34] slavafomin commented on #27
Could you please create a small demo of the issue using our Plunk: http://plnkr.co/edit/g2MDXv81OOBuGo6ORvdt?p=preview ?

[2015-08-11 17:13] #26 closed

[2015-08-11 17:13] #24 closed

[2015-11-06 00:48] bbodenmiller opened #31 "AngularUI Bootstrap DatePicker & TimePicker Example Broken"
The example shown at https://betsol.github.io/angular-input-modified/bootstrap-ui-date-and-time/ appears to be broken using Chrome 46.0.2490.80 m.

Related to #4.

[2015-11-06 06:40] bbodenmiller opened #32 "not detecting new form fields as modified"
I'm attempting to add new form fields (checkboxes) to a form using `ngRepeat` and have this mark the form as modified. A bit hard to explain but try selecting the `Add new` at http://plnkr.co/edit/TSjSAI2E3FwJHg75Y5Hv?p=preview and see that the form is not marked as modified.

Looks related to #12.

[2015-11-06 06:48] bbodenmiller commented on #32
Same with the deleting of form fields... checkout "Delete first" on http://plnkr.co/edit/TSjSAI2E3FwJHg75Y5Hv?p=preview as well.

[2015-11-06 10:07] slavafomin commented on #32
Hello @bbodenmiller!

Thank you for your interest in this module. However, you've forgot to mention that you are using a third-party module for list of checkboxes. Angular Input Modified is built around standard ngModel directive and strictly conforms to it's public interface. That makes it compatible with all other input plugins, that also implement the ngModel API.

I can't say exactly what the

[2015-11-06 10:55] slavafomin commented on #31
Hello @bbodenmiller!

Thank you for noticing! I've updated the demo. It should work now,

Cheers!

[2015-11-06 10:55] #31 closed

[2015-11-06 11:09] bbodenmiller commented on #32
Hi @slavafomin thanks for looking into this. I am able to replicate this without a third-party module at http://plnkr.co/edit/l10QsL17GrQROVewd28x?p=preview. Any thoughts on potential solutions or areas to look into? Thanks.

[2015-11-07 13:03] nvernooy commented on #27
I've only tried to reproduce the error now, but I could not get it to show in the plunk. Then I saw the angular-input-modified.js file I was using was different from the one in the plunk, so it seems like it has been fixed.

[2015-11-07 13:03] #27 closed

[2015-12-10 00:52] sscovil opened #33 "Consider decorating ngModel instead of overwriting it"
I was just looking through the source and noticed that you are overwriting the `ngModel` directive with your own custom version. This can be very dangerous for people using different versions of Angular, and is not recommended.

Instead, consider refactoring your code to [add a decorator](https://docs.angularjs.org/api/auto/service/$provide#decorator) to `ngModel`.

[2015-12-10 11:02] slavafomin commented on #33
Thank you @sscovil! I will keep this in mind during next development cycle.

[2015-12-23 00:23] jrharshath commented on #33
Thanks @sscovil for bringing it up!

@slavafomin When I first started going thru the code to see if I should use this project in my own code, the `ngModel` overwriting did freak me out a bit. But then I went thru the entire thing and felt more comfortable.

I'm not an angular expert, so I wasn't aware of decorators being even an option.

[2015-12-23 20:28] jrharshath opened #34 "Consider renaming "modified" to "$modified""
This is only a suggestion. Since:
- since we're modifying `ng-model`'s native behaviour
- not declaring a new directive
- calling the module `ngInputModified` instead of something that's not in angular's namespace (like bsInputModified)
- overriding the way `$pristine` is set to account for `modified` (again affecting angular's standard behaviour)

I propose we call our flag `$modified`. It would

[2015-12-24 14:40] ggaltqq commented on #32
Hi. Got same problem.
Example from your demos with adding, deleting items from collection
http://jsfiddle.net/4kxmn4Lx/

[2015-12-24 16:01] jrharshath opened #35 "[bug] Exception on resetting form when using nested using nested scopes"
Here's a simplified version of the code that led me discover the bug:

[code]

On trying to reset the form from my controller, an exception gets thrown at `ngModel.js:156` (and subsequently ignored in line 159). The error is

[code]

Any ideas for a bug fix?

[2015-12-26 19:01] slavafomin commented on #34
Yes, Harshath. That makes sense.
However, I'm not yet sure in what direction should we move - to make this module closer to the Angular.js codebase or to make it a more independent third-party extension.
We'll think about it, if we'll decide to make a 2.0 release.

[2015-12-26 19:04] slavafomin commented on #32
Hello! Thank you for an update on this issue.
I will try to look into this on first occasion.

[2015-12-26 19:19] slavafomin commented on #35
Yep. I think it's a limitation of the module in the current implementation. You can see [here](https://github.com/betsol/angular-input-modified/blob/master/src/directive/ngModel.js#L30-L34) that `modelPath` variable is defined according to content of the `ngModel` attribute. Therefore, this attribute must contain a path to the model value relative to the current scope. You can't use nested referen

[2016-01-28 07:20] jrharshath commented on #34
Perhaps convert this into a PR for angularjs first, and then see how it turns out? :smile:

[2016-01-28 07:26] jrharshath commented on #34
Angular already finds this feature wanting - check out this issue.

https://github.com/angular/angular.js/issues/11289

[2016-02-10 08:10] slavafomin commented on #35
Hello @jrharshath! How are you doing?
I've updated the module to use more reliable `reset()` functionality.
Feel free to test your use case with it and tell me if it works for you!
Thanks!

[2016-02-13 11:17] slavafomin opened #37 "Add support for CommonJS"
As stated in #36. Make sure that it works with [webpack module bundler](https://webpack.github.io/).

[2016-02-13 12:00] slavafomin commented on #37
I've introduced support for CommonJS module system.

@venkateshsampath could you please try it?

You will need to add dependency to your project first:

`npm i --save-dev https://github.com/betsol/angular-input-modified.git#master`

Then, use it in your entry file:

[code]

[2016-02-15 02:26] venkateshsampath commented on #37
Hi @slavafomin,
Sorry for this delayed response. Thanks for adding the commonjs package manager support.
Will check it with my project today and get back to you ASAP.

[2016-02-15 09:40] venkateshsampath commented on #37
Hi @slavafomin,

Thank you so much for the fix.
The fix worked perfectly fine with my project that uses webpack.

Will you be able to publish a new version as npm module so that I could use it after updating my package.json.

[2016-02-15 11:36] slavafomin commented on #37
Here goes the `2.3.2`, have fun!

[2016-02-15 11:36] #37 closed

[2016-02-15 17:31] venkateshsampath commented on #37
Awesome! Thanks @slavafomin.

[2016-02-16 11:20] Jeevanandanj opened #38 "ngModel directive is not triggered"
I've used the version v2.3.1.

ngModel directive is not triggered. So I am always getting modified as false.

[2016-02-16 11:45] slavafomin commented on #38
Hello @Jeevanandanj! Could you please create a Plunk to isolate and demonstrate the problem? Make sure to include the latest versions of all the modules. You can fork our demo Plunk if you want: http://plnkr.co/edit/g2MDXv81OOBuGo6ORvdt?p=preview.

[2016-02-16 11:53] Jeevanandanj commented on #38
Actually in plunkr and in your sample, I've seen that's working and ng model directive is triggering. But in my application which I've used is not triggering this.

I am using https://github.com/ocombe/ocLazyLoad to load the files.

If i globally declare ng model directive in my application, that's working.But in your plugin that's not working. But ng form directive from your plugin is working.

H

[2016-02-16 12:17] slavafomin commented on #38
You will have to pinpoint the issue yourself I'm afraid. I will not be able to help without knowing the roots of the problem. Please try to isolate the problem and give me some steps to re-create it, or better create a Plunk with isolated example.

I'm not using lazy-loading for modules myself. Maybe it's a good idea to load our module synchronously with the application. It's functionality is glob

[2016-02-16 12:21] Jeevanandanj commented on #38
I've renamed extended ng model directive to ng model check and checked. That's actually working. I don't know the actual reason for this. But I am sure the issue is with ng model extended directive.

[2016-02-16 13:07] Jeevanandanj commented on #38
Really I don't know the reason. I have tried in plunkr with oclazy loading (http://plnkr.co/edit/s5lzVXQcdbjceUu3puSI?p=preview), but i couldn't reproduce.

Do I need to include any css?

I've tried with the following steps;
1. Loaded the input modified plugin through ocLazyload in routing.
2. injected the module dynamically. $ocLazyLoad.inject('ngInputModified');

Then I"ve used the same code in

[2016-02-17 06:18] jrharshath commented on #35
Thanks! I'll test it out soon, and post results.

[2016-02-17 06:47] Jeevanandanj commented on #38
That's nice plugin. This is working when i copy the same code and attach directly with my module.

There must be some issue with lazy loading or with my app code.

[2016-02-17 06:47] #38 closed

[2016-04-07 16:48] elier-ultimatejetvacations opened #40 "Compare Types"
Be able to in the provider specify if the comparisson of the values needs to be strict (checking types) or only by value.
Ex:
No detect changes on 1 == '1'

[2016-04-16 11:12] slavafomin commented on #40
Hello @elier-ultimatejetvacations thanks for the suggestion! However, could you please provide an example of when this could be useful? Thanks you!

[2016-04-18 11:25] Ellis-Beta commented on #32
Is there any update on this? It would be very helpful if adding/removing an item to a collection flagged it as modified.

[2016-04-18 12:46] slavafomin commented on #32
This module is working around `ngModel` directive. In the example above, `ngModel` points not to the collection, but to the element of the collection, therefore it watches the element for changes and not the collection itself. You should be able to watch the collection manually using `$scope.$watch` function. I'm not sure it should be handled by this module.

However, if you have ideas of how it c

[2016-04-18 14:15] unluckynelson opened #41 "bs-modfiable seems to not behave as expected"
When you use bs-modfiable="false" it does not seem to behave as expected. Irrespective of where in the DOM you put it.
Please see this plunkr:
http://plnkr.co/edit/S8cFIX6WG0p5mLApB0jE?p=preview

[2016-04-18 14:58] slavafomin commented on #41
Thanks @unluckynelson! I will look into this on first occasion.

[2016-04-20 13:43] elier-ultimatejetvacations commented on #40
For instance, I'm using a select as an ng-model in my form, and the
select values are ids. These ids are integers when I get them from the
backend, but strings when I select them. Ex:

This is how I get the data from the backend
{
     category_id : 1,
     name: "test"
}

when I assign the ng-model="category_id" to the select it becomes like this:
{
     category_id : "1",
     name: "test"
}

Re

[2016-06-30 01:19] razyalov opened #42 "add license to bower.json file"
can you add the license terms to the bower.json file so that sites like webjars.org can pick this component and pack it as a webjar?

[2016-07-01 21:52] razyalov opened #43 "not detecting changes in an ng-model compatible component"
I'm trying to use the input-modified with the tags-list angular component that as far as I know is working with ng-model correctly.

I'v created this plunker to show the problem: https://plnkr.co/edit/bVbKfmE3hRID7Loq4E8N

I have no way of telling if the issue is on the input-modified side or the tags-list side.

Let me know what you think. The plunker has instructions on how to reproduce the prob

[2016-07-03 12:02] slavafomin commented on #42
Hello! Thank you for your interest in this module!

I've fixed it in 9ba2d9d.

[2016-08-24 11:01] gandaldf opened #44 "Angular 2 support?"
Your plugin saved my life, are you planning to port it to Angular 2?

[2016-08-24 22:21] slavafomin commented on #44
Thank you @gandaldf!

I'm not using Angular 2 yet myself, so I can't return any promises to you at this moment ; )

[2016-09-09 08:33] olegkoskin opened #45 "TypeError: Cannot read property '$$notifyModelModifiedStateChanged' of null"
Hi!

I have some legacy system and I got a problem with this midule. There is the form

[code]

For 2nd input I get exception:
[code]

'cause when ngInputModified's ngModel directive is executing the form in null. In ngModelModifiedFactory
[code]

Do you have any idea what's go wrong?

[2016-09-09 16:04] slavafomin commented on #45
Hello! Thank you for your interest in this module!

Please create a Plunk with isolated use case. You could fork [our Plunk](http://plnkr.co/edit/g2MDXv81OOBuGo6ORvdt?p=preview), to get you started.

[2016-09-09 16:14] slavafomin commented on #45
From the top of my head:

1. Why are you using `ng-init` to initialize the form? Can't you do this right away in the controller? If you need to resolve something - it's good idea to do it in router's `resolve`.
2. If you need to show the form conditionally, consider hiding it inside of `ng-if` to prevent directives from execution until the form is ready or abstract it away to it's own directive.

[2016-09-12 13:29] Lipsanayak1 opened #46 "It's not working for Text-Angular ."
It's not working for Text-Angular (Rich TextBox) .

[2016-09-14 10:11] #45 closed

[2016-10-03 20:52] JalalSordo opened #47 "How to eanble this script on a specific form ?"

[2016-10-03 21:55] slavafomin commented on #47
Hello! Thank you for your interest in this module!

Please see the API documentation:
https://github.com/betsol/angular-input-modified#api

[2016-10-03 21:59] JalalSordo commented on #47
By the way I did that and still not working, when I do the disableGlobally.
I think it's about how you inject the library and make it detect the form.

[2016-10-03 22:27] slavafomin commented on #47
Could you please create a minimal Plunk to demonstrate the issue?
You can fork this one: http://plnkr.co/edit/g2MDXv81OOBuGo6ORvdt?p=preview

[2016-10-06 14:16] DoubleDot opened #48 ""Ghost modified control""
We are using a system where parts of a form are shown or hidden with a ng-if "toggle".
Whenever i visit a certain part of a form, leave, and go back, this "ghost" modified control pops up.
to see this info, i added "{{form.resourcegeneralform.modifiedModels | json}}" to the html to see.

`[
  {
    "$viewValue": "",
    "$modelValue": "",
    "$validators": {},
    "$asyncValidators": {},
    "$pa

[2016-10-06 14:25] #48 closed

[2016-10-13 08:30] DoubleDot commented on #48
fyi: our code generated a few input controls that had no name attribute. Makes it very hard to debug 👍

[2016-10-21 15:08] yingqiaoflick commented on #32
We had the similar issue. Then, we found out that adding/deleting a model after the form has been populated won't trigger the inputModified.formChanged event. Is it a way we could fire the event?

[2016-11-01 12:24] akoppela commented on #32
We have the same issue. Would be nice if you add support for dynamic fields.

[2016-11-06 15:45] CanKattwinkel opened #49 "Issues with input type=email"
Hello,

`<input type="email">` will remain "not modified" until a valid e-mail is entered.

So if you change the mail in the plunker to any invalid string like  "notvalidmail!", then the modified value will remain false while it should be true since the value has changed!

![image](https://cloud.githubusercontent.com/assets/11500619/20039210/7abff3dc-a440-11e6-8c7a-1c412812287d.png)

http://plnkr.

[2017-01-02 14:36] BenevidesLecontes opened #50 "Bug with angular 1.6.1"
After upgrading from angular 1.5.10 to angular 1.6.1, i noticed this error:
`TypeError: Cannot set property '$dirty' of null`, because this line
[code]
So, i changed the line above to this and everything is working fine
[code]

[2017-01-04 15:04] trimox commented on #50
Thanks!

[2017-01-06 23:38] BenevidesLecontes commented on #50
@brunowego i'll do soon i can.

[2017-02-20 23:19] #50 closed

[2017-02-20 23:27] slavafomin commented on #50
Hello! Thank you everyone for noticing this issue. I'm sorry I wasn't been able to fix it sooner.

It's fixed now in patch level immediate release`v2.3.4`. Feel free to try it out and let me know if it needs further attention.

Cheers!

[2017-02-20 23:35] slavafomin commented on #50
Also, be advised, that solution provided by @BenevidesLecontes is incorrect and probably breaks some functionality. I would recommend to update as soon as possible if you were using it.

[2017-02-20 23:48] slavafomin commented on #49
Hello! Thank you for your interest in this module!

However, this is the way Angular (ngModelController) handles input. See the documentation here:
https://docs.angularjs.org/api/ng/type/ngModel.NgModelController#$setViewValue

To alter this behavior you could pass `allowInvalid: true` to the [ngModelOptions](https://docs.angularjs.org/api/ng/directive/ngModelOptions).

See the Plunk below for exa

[2017-02-20 23:48] #49 closed

[2017-02-20 23:49] slavafomin commented on #46
Closed as non-constructive.

[2017-02-20 23:49] #46 closed

[2017-02-20 23:54] slavafomin commented on #47
Closed for no activity.

[2017-02-20 23:54] #47 closed

[2017-02-20 23:56] slavafomin commented on #43
Are you talking about this directive: https://github.com/mbenford/ngTagsInput?

[2017-02-20 23:56] #42 closed

[2017-02-21 00:10] slavafomin commented on #41
Hello @unluckynelson! I wasn't been able to reproduce the issue. It works fine in our demo example here: http://plnkr.co/edit/RqTQmWMt8vEUsrbuQqLS?p=preview.

Could you fork the Plunk above and re-create the issue?

Thank you.

[2017-02-21 00:12] slavafomin commented on #40
This is a valid feature request. I will consider it if it gets enough likes.

[2017-02-21 00:13] slavafomin commented on #35
I'm closing this. Feel free to follow up if necessary.

[2017-02-21 00:13] #35 closed

[2017-02-21 00:16] slavafomin commented on #34
I've decided to stick to the current naming scheme for now. We should interfere with Angular namespace as little as possible.

[2017-02-21 00:16] #34 closed

[2017-02-21 00:21] slavafomin commented on #33
Actually, we are not overwriting `ngModel` but rather attaching to it using it's name. I think it's a valid use case. Also, I'm trying to interfere with Angular internals as little as possible sticking to the ngModel interface. This approach proved to work pretty fine over ~three years.

@sscovil could you please provide details on how you see this approach dangerous and not recommended.

[2017-02-21 01:05] razyalov commented on #43
yes

[2017-02-21 16:37] slavafomin commented on #43
I can't promise, but I will keep an eye on it during next development cycle.

[2017-03-02 12:14] pjarosak opened #52 "TypeError: Cannot read property '$$notifyModelModifiedStateChanged' of null"
I used this module in a uib-modal (https://angular-ui.github.io/bootstrap/). The data modal that is passed to the modal is reloaded prior to being opened again.

I found that adding the same checks you had in onInputValueChanges() to setPristine() fixes it.

Changing from:
                        // Notifying the form.
                        formCtrl.$$notifyModelModifiedStateChanged(modelCtrl);

[2017-03-07 14:04] thabemmz opened #53 "`modified` on parentform not updated when childform was removed"
My use-case is as follows:

I got a parentform with a dynamically generated list of childforms in it. The childforms are generated based on data fetched from a server.

Each time I receive new data from the server, I'd like to say that, since we have new data, the parentform should be made pristine. This is, after all, the new "truth" we have to work with right now.

However, I did not find a way

[2017-04-10 14:31] slavafomin commented on #53
Hello! Thank you for your interest in this module and sorry for a late reply.

The module itself was not actually designed for dynamic forms. Right now, we have an internal list of modified child forms, so when you remove the child form from the DOM, the directive doesn't know about it and keeps tracking it in it's internal list of changed forms. In order to solve your issue we need to somehow syn

[2017-04-10 15:52] slavafomin commented on #53
I've pushed some changes and released a new version: 2.4.0. You can see it in action here: http://betsol.github.io/angular-input-modified/nested-forms/. Please let me know if it works for you. Cheers!

[2017-04-19 12:49] sandeesaripalli opened #54 "$$onChildModelModifiedStateChanged"
Hi,
I am getting this console error though it's not causing any issues,
Cannot read property '$$onChildModelModifiedStateChanged' of null

Please let me know how to fix this bug.

Regards

Sandeep

[2017-04-19 18:16] sakovias commented on #53
Thanks for the fix @slavafomin! Upgrade to 2.4.0 solves my problem.

My form has a bunch of `input` tags and when I remove some of those with `ng-if` the form was being set as modified event though `$setPristine()` was called. Not an issue any more.

[2017-04-19 20:27] slavafomin commented on #54
Hello! Thank you for your interest in this module!

I wasn't been able to reproduce the issue, but nevertheless I've added an additional guard around this method call for edge cases. Please update to the latest version and let me know if it solves the issue for you.

Cheers!

[2017-04-20 14:20] sakovias opened #55 "How do I know why the form is marked as modified?"
I have a form that has some regular `input` fields and some drop-downs that use [angular-ui-select](https://github.com/angular-ui/ui-select). The modified state of regular inputs are easy to track via `form.field.modified`, but the drop-downs don't seem to have such an option.

Is there a way to inspect why the form gets set as modified? I'm trying to call `form.$setPristine()` in a number of plac

[2017-04-20 14:21] sakovias commented on #55
Should be labeled as a question, not really an issue with this repo 😃

[2017-04-20 15:15] sandeesaripalli commented on #54
It works, Thank you for the quick reply.

Regards

Sandeep

[2017-04-21 16:07] slavafomin commented on #55
Hello! Thank you for your interest in this module!

The `angular-input-modified` is working with `ngModelController`, so your custom or third-party component should implement it. If your component is not using `ngModel` then it's not possible to integrate it properly with the form and with this module. So your question is really `How do you access ngModelController` of the `angular-ui-select`.

[2017-04-21 16:08] slavafomin commented on #54
Nice to hear that @sandeesaripalli! Have a great day!

[2017-04-21 16:08] #54 closed

[2017-04-21 19:13] sakovias commented on #55
True, I'll have figure out how `angular-ui-select` works. The form is marked as modified correctly though.

I was running into a problem multiple times when I didn't know what was modified and the form had too many fields to debug each one quickly. Would be nice to have an option to show all modified fields in a form, something like `form.getModifiedFields()`.

[2017-04-21 19:13] #55 closed

[2017-04-21 19:43] slavafomin commented on #55
Please see here:
https://github.com/betsol/angular-input-modified/blob/master/src/directive/form.js#L36

Your form controller should has `modifiedModels` property with the list of all modified `ngModelController`'s. However, if you have nested forms you will have to traverse the tree using `modifiedChildForms` as well.

[2017-04-26 22:29] jrharshath commented on #33
Sidenote: I later realized that declaring another directive as `ngModel` does not overwrite it, but only attaches another directive to that name. All is well. If the OP is okay, we could close out this issue.

[2017-04-26 22:50] jrharshath commented on #32
We're having a similar issue. I've put together a [plunker](https://plnkr.co/edit/mrVQfCMhagNQ6HXC1XA8?p=preview) to demonstrate the issue in the simplest form possible.

**1. Adding new elements to a form does not mark it `modified`**
I understand that when new elements are added, the `masterValue` of that input's ngModel is set to its initial value . By that logic, that input is indeed not in a

[2017-04-27 20:02] #33 closed

[2017-04-27 20:20] slavafomin commented on #32
Thank you everyone for pointing out your issues. However, I see different use cases and different problems mentioned. Could someone reduce everything being said here to a concrete proposition and/or algorithm?

The module wasn't designed for dynamic forms initially, so there could be problems with it. Right now we have the following rules:

1). Form's modification state is controlled by modificati

[2017-06-08 13:44] DoubleDot commented on #53
First of all, thank you for maintaining this module. The behaviour described above however should be "optional". A lot of us (i think?) greatly use the fact that when you remove subforms/items the modified flag remains true. Updating to this new version was impossible for me as a lot of "dirty state" behaviour is now reset when a form is temporarily removed from the DOM, So i'm stuck at 2.3.4.

TL

[2017-06-08 16:45] slavafomin commented on #53
Hello @DoubleDot, thank you for your interest.

Could you please describe your use case in more detail? I think the fixes introduced are correct ones and the behavior you are describing is actually could be considered a bug, because the modified state of the form should always be derived from all child fields and forms, so when form is removed from the DOM, we are now re-checking the modification

[2017-06-12 13:42] developer707 opened #56 "Console Error"
This Error appears in the console at the start of my application.

`bower-combined.js:5 TypeError: Cannot read property '$$onChildModelModifiedStateChanged' of null`

![image](https://user-images.githubusercontent.com/23486013/27036611-02dbd848-4f4b-11e7-91b6-f9d15ddc9f91.png)

[2017-06-13 13:37] slavafomin commented on #56
Hello! Thank you for your interest in this module!

What version are you using?

[2017-06-13 13:49] developer707 commented on #56
Good morning, I am suing version 2.4.1

[2017-06-13 14:00] slavafomin commented on #56
This error was fixed recently: https://github.com/betsol/angular-input-modified/issues/54

Make sure to use the latest version of the module (try to re-install it).

[2017-06-13 14:08] slavafomin commented on #56
Well, actually there was a problem with release `2.4.1` for some reason. I've released `2.4.2` just now. Please try to update and let me know if it helps. Cheers!

[2017-06-13 14:31] developer707 commented on #56
Yes it appears to solve the issure Thanks!

[2017-06-13 18:02] slavafomin commented on #56
Good to know! Have a nice day!

[2017-06-13 18:02] #56 closed

[2017-07-06 07:57] Moustafa20 commented on #44
any updates for this issue?

[2017-07-06 10:08] slavafomin commented on #44
@moustafa20 feel free to port it.

[2017-07-06 10:12] Moustafa20 commented on #44
@slavafomin Thanks for your reply
hope you are ready to provide your awesome plugins to support Angular 2 soon
Regards

[2017-07-06 10:26] slavafomin commented on #44
@moustafa20 I've actually switched to Angular recently, so I will consider implementing it, if time permits of course.

[2017-07-06 10:27] Moustafa20 commented on #44
@slavafomin greate news , sounds like good :)

[2017-09-22 20:15] sakovias opened #57 "Modified state gets screwed when a subform is toggled"
Hi @slavafomin, that's a great library, really liking it.

Here's an issue I came across when working with "nested" forms. I've checked that it occurs on versions 2.3.2 and 2.4.2 (possibly others). I have a `form` with a nested `ng-form`, the former gets toggled with `ng-if`. It looks like I can trick it into a "modified" state.

Here's the Plunker: https://plnkr.co/edit/YuYuG6M3SGWYiFE3jBKa?p=pre

[2017-09-23 15:19] Sharlaan opened #58 "Modified state based on $viewValue instead of $modelValue ?"
Would it be possible to make ng-modified checks bsed on $viewValue instead of currently $modelValue ?

Use case: when using ng-pattern or any validation rules, ngModel is prevented to change while user actually modified the $viewValue.

[2017-09-25 15:31] sakovias commented on #57
There's a workaround to reset the subform to a "default" state. In the case of the above example, we can clear the subform when the box B is unchecked. We're going loose the state of the subform, but the `modified` flag will stay correct.

https://plnkr.co/edit/UiV4iJGLLr611gweWxHj?p=preview

[2022-10-27 13:39] #44 closed